/* General and custom */
* {
    font-family: 'Arial', sans-serif;
}

.v-container {
    height: 40vw;
    min-height: 700px;
}

.margin-x {
    margin-left: auto;
    margin-right: auto;
}

.margin-y {
    margin-top: auto;
    margin-bottom: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Ul, Li CSS */
ul {
    padding: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

li {
    display: inline-block;
    vertical-align: middle;
    line-height: 4vw;
}

li img {
    width: 3vw;
    min-width: 30px;
}

li a {
    margin-left: 20px;
}

li div a {
    font-size: 1rem;
    color: black !important;
    text-decoration: none;
} 


/* Dropdown CSS */
.dropdown-toggle::after {   
    color: black;
}

.dropdown-menu {
    left: -12px !important
}

.dropdown-item {
    line-height: 1;
}

.btn.focus, .btn:focus {
    box-shadow:  0 0 0 0 #fff;
}
/* End Dropdown */

/* End Ul, Li */


.headtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
}

.headtitle p {
    font-size: 1.8rem;
}


table {
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.5rem !important;

    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.table th {
    border-top: 0px
    /* border-left:solid black 1px;
    border-top:solid black 1px; */
}


/* Footer CSS */
footer {
    margin-top: 5vh;
    color: #ffffff;
    background-color: #000000;
}

h4 {
    line-height: normal ;
}
/* End Footer */

.modal-content, .modal-header, .modal-body {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


@media screen and (max-width: 768px) {

    li a {
        margin-left: 10px;
    }

    li div a {
        font-size: .8rem;
    }

    .dropdown-user {
        padding-top: calc(.375rem);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
    }

    
    .v-container {
        min-height: 875px;
    }


    .headtitle {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 10px;
        height: fit-content;
    }

    /* .headtitle {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: fit-content;
    } */
    

    .headtitle p {
        font-size: 1rem;
    }

    .headtitle button {
        font-size: .6rem;
    }

    .headtitle button span {
        display: none;
    }


    .table td {
        padding: .2rem
    }

    th, td {
        font-size: .6rem;
    }
   
    .link {
        display: none;
    }
    
    .action_td {
        padding: 0 !important;
    }

    .action_td button {
        font-size: .6rem;
        padding: .2rem;
    }


    .modal-header h4 {
        font-size: 1rem !important;
    }

    .modal-body label, .modal-body input, .modal-body select, .modal-body button {
        font-size: .8rem;
    }


    footer div {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: justify !important;
    }

    footer h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    footer p {
        font-size: 0.6rem;
    }






    .email {
        display: none;
    }





 


}