* {
    font-family: 'Arial', sans-serif;
}

.v-container {
    height: 70vh;
}

.margin-x {
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 99vw !important;
}


/* Ul, Li CSS */
ul {
    padding: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

li {
    display: inline-block;
    vertical-align: middle;
    line-height: 4vw;
}

li img {
    width: 3vw;
    min-width: 30px;
}

li div a {
    color: black !important;
    text-decoration: none;
} 


/* Dropdown CSS */
.dropdown-toggle::after {   
    color: black;
}

.dropdown-menu {
    left: -12px !important
}

.dropdown-item {
    line-height: 1;
}

.btn.focus, .btn:focus {
    box-shadow:  0 0 0 0 #fff;
}
/* End Dropdown */


/* End Ul, Li */


/* Casouline CSS */

#carousel {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}

.carousel-indicators {
    margin: 0;
}

.carousel-indicators li {
    min-height: 0 !important;
}

.carousel-item img {
    border-radius: 6px;
    width: 95vw;
    height: auto;
    margin: 0;
}

.carousel-control-prev, .carousel-control-next {
    min-width: 10px;
    width: 4vw;
}

/* End Casouline */


/* Navigation Row CSS */
.menu {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 0;
    margin-right: 0;
}

.menu p {
    padding-left: 2px;
    padding-right: 2px;
}


button img {
    width: 3vw;
    min-width: 20px;
}

button p {
    font-size: .9rem;
    margin-bottom: 0;
}
/* End Navigation Row */




.custom-row p {
    width: fit-content;
    font-size: 1.4rem;
    margin-left: clamp(0px, 13vw, 320px);
    font-weight: 600;
    line-height: 1 ;
}

.tips-row {
    margin-top: 1%;
}

.tips-row div {
    padding: 0;
}

.tips-row div img {
    width: 15vw;
    margin-bottom: 4%;
    border-radius: 6px;
}

.contents {
    margin-left: 3%;
}

.contents p {
    font-size: .8rem;
}

.tips-row div a {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color:#000000;
}

.tips-row div a:hover {
    color: #4584f7;
}

.tips-row div p {
    width: fit-content;
    display: inline-block;
    margin-top: 10px;
}







/* Footer CSS */
footer {
    margin-top: 5vh;
    color: #ffffff;
    background-color: #000000;
}

h4 {
    line-height: normal ;
}

/* End Footer */






@media screen and (max-width: 768px) {
    li {
        line-height: 10vw;
    }

    li, .dropdown button {
        font-size: 0.6rem !important;
    }
    
    .dropdown-menu {
        width: fit-content;
    }

    .dropdown-menu a {
        font-size: 0.6rem;
    }

    button p {
        font-size: 0.6rem;
    }

    .custom-row p {
        width: fit-content;
        font-size: .9rem;
        margin-bottom: 5px;
        margin-left: clamp(25px, 5vw, 320px);
        font-weight: 600;
        line-height: normal ;
    }

    .tips-row {
        margin-top: 1%;
    }

    .tips-row div img {
        width: 30vw;
        padding-left: 15px;
        margin-bottom: 5%;
    }
    
    .tips-row div a {
        font-size: .6rem;
        font-weight: 700;
        text-decoration: none;
        color:#000000;
    }

    .tips-row div a:hover {
        color: #4584f7;
    }

    .tips-row div p {
        font-size: .5rem;
        font-weight: 700;
    }

    .title a, .author a {
        line-height: 10px;
    }
    
    footer div {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: justify !important;
    }

    footer h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    footer p {
        font-size: 0.6rem;
    }
}