/* General and custom */
* {
    font-family: 'Arial', sans-serif;
}

.v-container {
    height: 40vw;
    min-height: 700px;
}

.margin-x {
    margin-left: auto;
    margin-right: auto;
}

.margin-y {
    margin-top: auto;
    margin-bottom: auto;
}

/* Ul, Li CSS */
ul {
    padding: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

li {
    display: inline-block;
    vertical-align: middle;
    line-height: 4vw;
}

li img {
    width: 3vw;
    min-width: 30px;
}

li a {
    margin-left: 20px;
}

li div a {
    color: black !important;
    text-decoration: none;
} 


/* Dropdown CSS */
.dropdown-toggle::after {   
    color: black;
}

.dropdown-menu {
    left: -12px !important
}

.dropdown-item {
    line-height: 1;
}

.btn.focus, .btn:focus {
    box-shadow:  0 0 0 0 #fff;
}
/* End Dropdown */

/* End Ul, Li */





.headline {
    font-size: 2rem;
}

.news .row {
    border-radius: 5px;
    padding: 1rem;
}

.news .row div a {
    color: black;
    font-size: 1.4rem;
}

.news img {
    width: 12vw;
    height: 9vw;
    border-radius: 5px;
}

.author p {
    color: #bababb;
    font-size: .8rem;
}














/* Footer CSS */
footer {
    margin-top: 5vh;
    color: #ffffff;
    background-color: #000000;
}

h4 {
    line-height: normal ;
}
/* End Footer */








@media screen and (max-width: 768px) {
    
    .v-container {
        min-height: 600px;
    }

    li a {
        margin-left: 10px;
    }

    .dropdown-user {
        padding-top: calc(.375rem);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
    }






    .headline {
        font-size: 1rem;
    }



    .title {
        line-height: 1 !important;
    }




    .news .row {
        border-radius: 6px;
        padding: .2rem;
    }



    .news .row div a {
        color: black;
        font-size: .8rem;
    }






    .author p {
        color: #bababb;
        font-size: .5rem;
    }
    
    


    .news img {
        width: 16vw;
        height: 16vw;
        border-radius: 5px;
    }





    .title {
        margin-top: 3px;
        margin-left: 3px;
        margin-bottom: 5px;
    }

    .author {
        margin-left: 3px;
    }



    .box .box-left {
        padding: 0;
    }


    /* .box-right {
        margin-top: 3px;
        margin-right: 3px;
    } */

        
    footer div {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: justify !important;
    }

    footer h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    footer p {
        font-size: 0.6rem;
    }
}