@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General and custom */
* {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

.y-hidden {
    overflow-y: hidden;
}

.v-container {
    min-height: 65vh;
}

.container {
    min-height: 70vh;
    margin: 0 !important
}

/* Login / Welcome Button */
.dropdown button {
    margin-right: clamp(10px, 2vw, 30px);
    color: black;
}

.dropdown button:hover{
    color: black;
    text-decoration: none;
}

.dropdown button:focus{
    box-shadow: none;
    text-decoration: none;
}
/* Logout Section */
.dropdown-menu {
    height: 2.5vw;
    line-height: normal;
}

.dropdown-menu a {
    font-size: 1rem;
}

/* Records List */
.records {
    padding: .7rem !important;
    /* margin-left: auto;
    margin-right: auto; */
    border: 1px solid;
    border-radius: 0.5rem !important;
    box-shadow: 1px 1px 10px 1px #88888888;
}


/* Footer */
footer {
    margin-top: 5vh;
    color: #ffffff;
    background-color: #000000;
}


/* Custom CSS */
.d-flex{
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* Login / Welcome Section */
ul {
    height: 5vw;
    min-height: 45px;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    display: inline;
    vertical-align: middle;

}

li {
    font-size: 1rem;
    justify-content: center;
    display: inline-block;
    min-height: calc(45px - 1vw);
    vertical-align: middle;
    line-height: 5vw;
    cursor: pointer;
}

li img {
    width: 3vw;
    min-width: 30px;
}

li p, dropdown button {
    height: 4vw;
    margin-top: 3vw;
    font-size: 0.6rem !important;
}

@media screen and (max-width: 768px) {
    li {
        line-height: 10vw;
    }

    li, .dropdown button, .records p, .records a {
        font-size: 0.6rem !important;
    }

    button p {
        font-size: 0.6rem;
    }

    footer div {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: justify !important;
    }

    footer h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    footer p {
        font-size: 0.6rem;
    }


    .record-section div span {
        font-size: .6rem;
    }
    


    ul .navi {
        margin-left: 2vw
    }

}







.g-status {
    background-color: #dffaf1;
    border-radius: 25px;
}

.b-status {
    background-color: #Fcd1d1;
    border-radius: 25px;
}

.record-section {
    border-radius: 10px;
    margin: 1.5rem 1rem 1.5rem 1rem;
    box-shadow: 1px 2px 15px #888888;
}

ul .navi {
    margin-left: 3vw
}

.navi a {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
