<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Measure</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" href="{{url_for('static', filename='/images/teacher.png')}}">
        <!-- Normal CSS -->
        <link rel= "stylesheet" type= "text/css" href= "../static/css/profile.css">
        <!-- Python CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/css/profile.css') }}">
    </head>
    <body>
        <div class="v-container">
            <!-- Top Nav-bar -->
            <div class="container border-bottom mb-4 px-0" style="min-width: 100vw; margin: 0;">
                <!-- Navbar -->
                <ul style="margin: 0;">
                    <li>
                        <a href="index">
                            <img class="col-form-label" src="../static/images/weblogo-noname.png">
                        </a>
                    </li>
                    {% if user_i4 != null %}
                    <li class="float-right" style="display: inline-block">
                        <div class="dropdown" style="overflow-x: visible !important; overflow-y: visible !important">
                            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{user_i4['name']}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item text-center" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </div>
                    </li>
                    {% elif user_i4 == null %}
                    <li class="font-weight-bold float-right" style="margin-right: 4vw !important;">
                    <a href="{{ url_for('login') }}" style="text-decoration: none; color: black;">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="text-center">
                <form action="{{url_for('predict')}}" method="POST">
                    <div class="row">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <label>Ap_lo</label>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input class="form-group" id="ap_lo" name="ap_lo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <label>Ap_hi</label>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input class="form-group" id="ap_hi" name="ap_hi">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1>{{result}}</h1>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </body>
</html>