<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" href="{{url_for('static', filename='/images/teacher.png')}}">
    </head>
    <body>
        <div class="row justify-content-end mx-0 px-0">
            <div class="register col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-0">
                <h1>Register</h1>
                <div class="links">
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}" class="active">Register</a>
                </div>
                <form action="{{ url_for('register') }}" method="post" autocomplete="off">
                    <!--Name Label and Input-->
                    <label for="name">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="name" placeholder="Name" id="name" required>
                    <!--Username Label and Input-->
                    <label for="username">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="username" placeholder="Username" id="username" required>
                    <!--Password Label and Input-->
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                    <!--Password Label and Input-->
                    <label for="email">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="email" name="email" placeholder="Email" id="email" required>
    
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade show mt-3" role="alert">
                            <a class="font-weight-bold" style="color: #856404">Notify</a>
                            <p>{{message}}</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        
        
    </body>
</html>